<html>
    <head>
<link href="/stylesheet.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
	<select id="albums" onchange="change_album(this);">
	</select>
	<select id="images" onchange="change_image(this);">
	</select>


	<div class="full">
        <img id="image" src="" onclick="toggle()" />
	</div>
	<a class="prev" onclick="prev()">❮</a>
	<a class="next" onclick="next()">❯</a>

    <script type="text/javascript">
        var g_next = location.search.split('next=')[1];
        var interval = location.search.split('interval=')[1];
        var timeout;
        if (g_next == undefined)
            g_next = 0;
        if (interval == undefined)
            interval = 5000;
        else if (interval == "off")
            interval = undefined;
        else if (interval < 1000)
            interval = 1000;

	get_albums();
	select_album("{{ALBUM_ID}}");
        var js;
	function select_album(id) {
		xml = new XMLHttpRequest();
		xml.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				js = JSON.parse(xml.responseText);
				var a = document.getElementById("images");
				for (b in a.options) { a.options.remove(0); }
				g_next = 0;
				for (var i in js) {
					var option = document.createElement("option");
					option.text = js[i].file_name;
					option.value = js[i].id;
					a.add(option); 
				}
				next();
				// toggle();
			}
		};
		xml.open("GET", "http://localhost:4444/album/"+id, true);
		xml.send();
	}

	function get_albums() {
		albums = new XMLHttpRequest();
		albums.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				albums = JSON.parse(albums.responseText);

				var a = document.getElementById("albums");
				for (var key in albums.directories) {
					var option = document.createElement("option");
					option.text = albums.directories[key].name;
					option.value = albums.directories[key].id;
					if (option.value == "{{ALBUM_ID}}") {
						option.selected = true;
					}
					a.add(option); 
				}
			}
		};
		albums.open("GET", "http://localhost:4444/albums", true);
		albums.send();
	}

	function change_image(sel) {
		g_next = sel.selectedIndex;
		next()
	}
	function change_album(sel) {
		var id = sel.options[sel.selectedIndex].value;
		select_album(id);
	}
        function toggle()
        {
            if (timeout != undefined) {
                clearInterval(timeout);
                timeout = undefined;
            } else if (interval != undefined) {
                timeout = setInterval(function(){ next(); }, interval);
            }
        }
        function next()
        {
            var i = 0;
            for (var key in js) {
                if (i == g_next) {
                    var url = "http://localhost:4444/download/"+js[i].id;
                    document.getElementById("image").src = url;
                    break;
                }
                i++;
            }
            if (i != g_next)
                toggle();
            else
                g_next++;
        }

    </script>
    </body>
</html>
